html,
body {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
      );
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 155px;
}

#myDisplayType {
    display: flex;
    margin-bottom: 0.2rem;
    color: white;
}

#wageButtonStyle,
#itemButtonStyle {
    text-align: center;
    font-weight: bold;
    width: 75px;
    padding: 0.5rem 0;
}

.criteria {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.desc {
    padding-top: 0;
    margin-top: 0;
}

#wage-input,
#item-input,
#price-input {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#set-new-wage,
#set-new-price,
#set-new-item {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#inputWageButton {
    margin-top: 40px;
}

.inactive {
    background-color: gray;
}

.real-cost {
    display: visible;
    visibility: visible;
}

.real-cost-icon {
    /*small symbol of the icon*/
}

.real-cost-bar {
    visibility: hidden;
    width: 0;
    height: 100px;
    transition: width 0s ease;
}

.real-cost-bar ::hover {
    width: 200px;
}