body {
    background: cadetblue;
    padding-top: 1rem;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

#myDisplayType {
    display: flex;

}

.desc {
    
}

p {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin: 0.5rem;
}

label {
    margin: 0 1rem;
}

.criteria {
    margin: 0;
}