html,
body {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
      );
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 155px;
}

#myDisplayType {
    display: flex;
    margin-bottom: 0.2rem;
    color: white;
}

#wageButtonStyle,
#itemButtonStyle {
    text-align: center;
    font-weight: bold;
    width: 75px;
    padding: 0.5rem 0;
}

.criteria {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.desc {
    padding-top: 0;
    margin-top: 0;
}

#wage-input,
#item-input,
#price-input {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#set-new-wage,
#set-new-price,
#set-new-item {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#inputWageButton {
    margin-top: 40px;
}

.inactive {
    background-color: gray;
}

.real-cost {
    display: block;
    visibility: visible;
    height: min-content;
    width: min-content;

}

.real-wrapper {
    display: inline-block;
    visibility: visible;
    overflow: visible;
    white-space: nowrap;
    height: 25px;
    width: 25px;
}

/*icon div wrapper*/
.real-cost-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

/*div wrapper bar expands outward when hovering over icon*/
.real-cost-bar {
    position: absolute;
    visibility: hidden;
    display: inline-block;
    width: 0px;
    height: min-content;
    white-space: nowrap;
    transition: width 0s;
    background: rgb(250, 240, 240);
    border-radius: 5px;
    border: solid rgb(250, 190, 101) 2px;
    z-index: 1001;
    overflow: hidden;
}

.transition {
    transition: width 1.5s ease !important;
}

/*this bar expands outward when hovering over icon*/
/* .real-cost-bar ::hover{
    width: 200px;
} */
